html{
    scroll-behavior: smooth;
}

.nav-pills .nav-link:hover{
    background-color: #fff;
    color: #000;
    transition: 1s;
}

.hr{
    border: 2px solid #000;
    width: 15%;
    margin: auto;
}

.gambar-bg{
    width: 400px;
    height: 400px;
}
.gambar-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.warna-bg{
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/IMG_20190905_135505.jpg);
    position: relative;
}

.warna-bg::before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 40%;
    content: '';
    background-color: #000;
}


.warna-bg h1 {
    padding-top: 210px;
    position: relative;
}

body {
    position: relative;
    scroll-behavior: initial;
  }

.navbar{
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0;
    z-index: 1000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #ffff;
    transition: 1s;
}

.nav-pills a{
    color: #fff;
}

#jumbo .jumbotron{
    margin-bottom: -2rem;
}


#skill img{
    height: 15%;
    width: 15%;
}

#skill h5{
    padding-top: 3%;
}

#footer .img-fluid {
    max-width: 25%;
    height: auto;
}


#footer{}

#footer .jumbotron {
    height: auto;
    margin-bottom: -2em;
    background-color: #000;
}

#footer h4{
    /* margin-top: -3rem; */
    margin-bottom: 20px;
}
#footer .hr{
    border: 2px solid #fff;
    width: 15%;
    margin: auto;
    margin-bottom: 40px;
}